body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

.recipe-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px;
  }

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
    padding-right: 0px;
    background-color: olive;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: orangered;
}

nav > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

h3 > a {
    color: rgb(72, 169, 72);
    text-decoration: none;
    font-weight: bold;
}

h1 {
    color: green
}

tr:nth-child(even) {
    background-color: lightgray;
}
